body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #254d4d;
}
section {
  padding-block: 4rem;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 425px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}
.sombra {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  inset: 0;
  font-weight: 700;
  font-size: 1.75rem;
  opacity: 0;
  z-index: 99;
  transition: 0.3s;
}
.sombra:hover {
  opacity: 1;
}

.form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 50px;
}

.product1::before,
.product2::before,
.product3::before,
.product4::before,
.product5::before,
.product6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s;
}
.product1::before {
  background-color: rgba(255, 83, 83, 0.75);
}
.product2::before {
  background-color: rgba(0, 199, 94, 0.65);
}
.product3::before {
  background-color: rgba(255, 94, 181, 0.65);
}
.product4::before {
  background-color: rgba(44, 107, 211, 0.65);
}
.product5::before {
  background-color: rgba(255, 170, 19, 0.65);
}
.nomProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  inset: 0;
  font-weight: 700;
  font-size: 1.75rem;
  z-index: 10;
  transition: 0.3s;
  cursor: pointer;
}

.cart {
  position: fixed;
  inset: 60px -500px 0 auto;
  width: 500px;
  min-height: 100vh;
  padding: 20px;
  background: white;
  box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
  transition: 0.3s;
  z-index: 999;
}
.cart.active {
  right: -0;
}

#close-cart {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-item {
  margin: 20px;
}

.shop-item-image {
  height: 200px;
}

.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-column-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #cc4c4c;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.2em;
}
